@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

:root {
  --cor-primaria: rgb(80, 80, 223);
    --cor-primaria-bg: rgba(80, 80, 223, 0.527);
    --cor-secundaria: #1c1c1c;
    --cor-secundaria-bg: #1c1c1c6b;
    --cor-terciaria: rgb(240, 236, 255);
    --cor-terciaria-bg: #ffffff79;
    --cor-link: rgb(240, 236, 255);
  --espacamento-padrao: 16px;
  --border-radius-padrao: 16px;
  /* Fonte */
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  /* login/signup */
  --page-anim: 600ms;
  --page-ease: cubic-bezier(.2,.7,.2,1);
}

/* reset css */
html, body, div, span{
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    color: var(--cor-link);
}
/* Alert */
.alert {
    padding: 1rem;
    background-color: #ff4040;
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    background-color: #00a762;
    color: white;
    border-radius: 0.5rem;
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
